.container {
    margin: 0 auto;
    width: 80%;
}

nav, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav > a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 768 px) {
  nav { flex-direction: row;}    
  .tshirt-container { display: flex; }
  .tshirt-container .tshirt-list { width: 20%;}
  .tshirt-container .tshirt { flex: 1;}
}

